.link {
	font-size: 18px;
	font-weight: 400;
	line-height: 156%;
	color: rgba(0, 0, 0, 0.85);
	transition: all 0.5s;

	&:hover {
		color: #808080;
	}

	@media (min-width: 768px) {
		min-width: 9rem;
	}
}
