.wrapper-input {
	width: 100%;
	max-width: 300px;
	position: relative;
}

.label-input {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.input-field {
	width: 100%;
	padding: 8px 12px;
	border: 1px solid #d9d9d9;
	border-radius: 6px;
	color: #262626;
	outline: none;

	&:focus {
		border: 1px solid #b3b3b3;
	}
}

.input-field-error {
	border: 1px solid rgb(237, 0, 0);
}

.input-field-valid {
	border: 1px solid rgb(99, 201, 56);
}

.error {
	position: absolute;
	bottom: -23px;
	font-size: 10px;
	color: rgb(237, 0, 0);

	@media (min-width: 528px) {
		bottom: -12px;
	}

	@media (min-width: 768px) {
		bottom: -15px;
	}
}
